@import "../../config.scss";
@import "./menu-button.scss";

//Media queries Tablet

@media (max-width: 768px) {
  .navbar {
    padding: 0.25rem 0 0.6rem 0;

    .nav {
      width: 95%;
      .menu-nav {
        .nav-links {
          margin-right: 1rem;

          &:last-child {
            margin-right: 0rem;
          }
        }
      }
    }
  }
}

//Media queries Phone

@media (max-width: 480px) {
  .navbar {
    padding: 0.6rem 0 0.6rem 0;

    .nav {
      width: 100%;

      .title {
        position: relative;
        left: 15px;
        z-index: 1;
        .line {
          display: none;
        }
      }
      .menu-icon {
        display: block;
      }

      .menu-nav {
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        flex-direction: column;
        position: fixed;
        top: 0;
        width: 100%;
        height: 100vh;
        opacity: 0.9;
        background: $secondary;
        transform: translateX(-100%);
        @include transition-ease;

        &.active {
          transform: translateX(0);
        }

        li {
          margin-top: 3rem;

          .nav-links {
            display: flex;
            margin: 2rem 0 0 1rem;
            text-align: left;
            font-size: 1.5rem;
            font-weight: 300;
          }
        }
      }
    }
  }
}
