.about-section {
  width: 85vw;
  margin: 1rem auto;
  padding: 1.5rem;

  .about-info {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    margin-bottom: 10vh;
    .heading {
      // transform: rotate(180deg);
      // writing-mode: vertical-rl;
      color: rgba(0, 0, 0, 0.24);
      .line {
        position: absolute;
        top: 1rem;
        // transform: rotate(90deg);
        width: 7rem;
        height: 6px;
        background: rgba(0, 0, 0, 0.438);
        margin-top: 3.6rem;
        margin-right: -25px;
      }
      
    }
    .text {
        width: 100%;
        position: absolute;
        top:3rem;
        left:4rem;
      p{
        
        bottom: 20%;
        margin: auto;
        
      }
      
    }

  }
}

@media (max-width: 480px) {
  .about-section {
  width: 85vw;
  margin: 1rem auto;
  padding: 1.5rem;

  .about-info {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    margin-bottom: 10vh;
    .heading {
      transform: rotate(180deg);
      writing-mode: vertical-rl;
      .line {
        position: absolute;
        
        transform: rotate(90deg);
        width: 4rem;
        height: 4px;
        background: black;
        margin-top: 2.1rem;
        margin-right: -25px;
      }
      
    }
    .text {
        
        width: 100vw;
        
      p{
        padding-left: 20%;
        bottom: -20%;
        position: absolute;
        margin:auto;
        
      }
      
    }

  }
}
}

