@import "../../config";

.article-main{
    margin-top:15vh;
    margin-bottom:15vh;
}
.article-maintitle{
    
      display: flex;
      align-items: center;

      .article-title-accent-square{
          height: 6rem;
          width: 11.2vw;
          margin-right: 3.8vw;
          background-color: $accent;
      }
     
}


.article-container{
    background-image: url("https://images.unsplash.com/photo-1527254547437-5c9c0862be58?crop=entropy&cs=tinysrgb&fit=max&fm=jpg&ixid=MnwxfDB8MXxyYW5kb218fHx8fHx8fHwxNjIxNjk1MDc3&ixlib=rb-1.2.1&q=80&w=1080&utm_source=unsplash_source&utm_medium=referral&utm_campaign=api-credit");
    height:90vh;
    width: 90%;
    margin: 5vh auto;
    position: relative;
     box-shadow: 0 10px 30px rgba(0, 0, 0, .3); 
}
.article-image{

   
   
    color:white;
    .article-left{
        //position: relative;
         background-color: rgba(0, 0, 0, 0.322);
         height:50%;
        .title{
            position: absolute;
            top:5%;
            left:5%;
            
            font-weight: 400;
        }
        .news{
            position: absolute;
            bottom:30%;
            color: white;
            font-size:larger;
            width: 50%;
            left:5%;
        }
        .bottom{
            
            position: absolute;
            bottom:5%;
            left:5%;
            font-weight: 600;
            padding:0.5rem;
            background-color: rgba(0, 0, 0, 0.486);
        }
    }
}
.article-right{
    position: absolute;
    right:0;
    top:5%;
    height: 83vh;
    width: 40%;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr;

    .article-div1,.article-div2,.article-div3,.article-div4{
        background-color: white;
        color:$secondary;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        &:hover{
             background: rgba(255, 255, 255,0);
             color:$primary;
        }
    // .article-number{
    //     //justify-self: flex-start;
    // }
    // .article-title{
        
    // }
    
    }


}