@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@600&display=swap');


$compheadingfont:'Fira Sans', sans-serif; 
$compheadingsize:40px;
$compheadingweight:600;
$compheadingcolor:#222222;


$primary:#007BFF;