.navbar {
  width: 100vw;
  //background: black;
  display: grid;
  place-items: center;
  position: absolute;
  top: 0;
  //height:11vh;
  z-index: 999;
  

  .navbar-container {
    width: 85vw;
    margin: 0.75rem auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    

    .title {
      h1 {
        font-weight: 500;
        font-size: 2rem;
        color: #fff;
      }
      .line {
        width: 55px;
        height: 2.5px;
        background-color: #fff;
      }
    }
    .pages {
      display: flex;
      align-items: center;
      justify-content: space-between;
      //line-height: 8vh;
      ul {
        .nav-list {
          text-transform: uppercase;
          font-weight: 400;
          font-size: 1rem;
          color: white;
          cursor: pointer;
          margin-right: 2.5rem;
        }
        .active {
          color: lightgray;
        }
      }
    }
    .btn {
      font-size: 1rem;
      border: 1.5px solid white;
      cursor: pointer;
      font-weight: 500;
    }
    .sign-up {
      background: black;
      color: white;
      margin-right: 0.75rem;
      padding: 0.5rem 1.5rem;
    }
    .login {
      color: black;
      background: white;
      padding: 0.5rem 1.75rem;
    }
  }
}
.navbar.scroll {
  position: sticky;
  background: black;
  //box-shadow: 0 0 4px 0 #fff;
}
