@import './../../config';

.subscribeContainer{
    margin:5.2rem auto;
    display: grid;
    grid-template-columns: 2.9fr 1.2fr;
    width: 76%;
    align-items: center;
    position: relative;
    .subscribeEmail{
        border:3px solid $secondary;
        border-right:none;
        height:4rem;
        padding-left:10%;
        font-size: 2rem;
        &::placeholder{
            font-size: 2rem;
            
        }
    }
    .subscribeIcon{
            position: absolute;
            font-size: 3rem;
            left:1%;
            font-weight: 100;

    }  
    .subscribeBtn{
        background-color: $accent;
        height:4rem;
        color:$primary;
        font-size: xx-large;

        
    }   
}

@media (max-width: 480px) {
    .subscribeContainer{
    margin:5.2rem auto;
    display: grid;
    grid-template-columns: 2.9fr 1.2fr;
    width: 70%;
    align-items: center;
    position: relative;
    .subscribeEmail{
        border:2px solid $secondary;
        border-right:none;
        height:3rem;
        padding-left:20%;
        font-size: 1rem;
        width: 100%;
        &::placeholder{
            font-size: 1rem;
            
            
        }
    }
    .subscribeIcon{
            position: absolute;
            font-size: 1.5rem;
            left:3%;
            

    }  
    .subscribeBtn{
        background-color: $accent;
        height:3rem;
        color:$primary;
        width:8rem;
        font-size: 1rem;
        padding:0;
        
    }   
}
    
}
