.whykrp_container{
    background-color: rgba(128, 128, 128, 0.274);
    display: grid;
    grid-template-columns: 4fr 6fr;
    height:100vh;
    width: 100%;
}
.whykrp_img{
    background-image: url('./../../images/whykrpbike.jpg');
    background-size: 100% 100%;
}
.whykrp_text{
    display:relative;
    
}
.whykrp_text > h2{
    display:absolute;
    margin-left:10vw;
    margin-top:10vh;
    
}
.whykrp_text > p{
    display:flex;
    align-items: center;
    justify-content: center;
    margin: 5%;
    font-size: 20px;
    
}
