.whykrp_container{
    position: absolute;
    background: white;
    overflow: hidden;
    display: grid;
    grid-template-columns: minmax(0,25%) 1fr;
    top:0;
    left:0;
    right:0;
    bottom:0;
    margin:3px;
    
   
}

.module-border-wrap {
  position:relative;
  height:70vh;
    width: 85%;
    margin-left: auto;
    margin-right: auto;
  
    padding: 3px;
    
    transition:2s;
    
    &:hover{
        background-image: linear-gradient(to right top, #000000, #2a2a2a, #505050, #7a7a7a, #a6a6a6, #b4b5bd, #bdc5d5, #c3d7ec, #94d2e8, #60cdd3, #46c5a9, #5db871);
        opacity: 1;
    }  
    }


.whykrp_img{
    background-image: url('./../../images/whykrpbike.jpg');
    height:inherit;
    
    overflow:hidden;
}
.whykrp_text{
    display:relative;
    
}
.whykrp_text > h2{
    display:absolute;
    margin-left:10vw;
    margin-top:10vh;
    
}
.whykrp_text > p{
    display:flex;
    align-items: center;
    justify-content: center;
    margin: 5%;
    font-size: 20px;
    overflow: hidden;
    
}
