.whykrp_container{
    background-color: rgba(0, 128, 128, 0.061);
    overflow: hidden;
    display: grid;
    grid-template-columns: 4fr 6fr;
    height:70vh;
    width: 100%;
    
}
.whykrp_img{
    background-image: url('./../../images/whykrpbike.jpg');
    height:inherit;
    
    overflow:hidden;
}
.whykrp_text{
    display:relative;
    
}
.whykrp_text > h2{
    display:absolute;
    margin-left:10vw;
    margin-top:10vh;
    
}
.whykrp_text > p{
    display:flex;
    align-items: center;
    justify-content: center;
    margin: 5%;
    font-size: 20px;
    overflow: hidden;
    
}
