@media screen and (max-width: 1200px) {
  
}

@media screen and (max-width: 1024px) {
  .shopping-section {
    .store{
      &-heading {
        &-left {
          width: 100vw;
        }
        &-right {
          display: none;
        }
      }

      &-info-text{
          width: 80vw;
      }
    }
    .item {
      grid-template-columns: repeat(4, 1fr);
      grid-template-rows: 250px 250px;
      &-container {
        &:nth-child(1) {
          grid-column: 1 / 2;
        }
        &:nth-child(6) {
          grid-column: 3 / 4;
        }
        &:nth-child(7) {
          grid-column: 4 / 5;
        }
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .shopping-section {
    .item {
      grid-template-columns: repeat(3, 1fr);
      grid-template-rows: 200px 200px;
      &-container {
        &:nth-child(7) {
          display: none;
        }
        &-title {
          font-size: 1.2rem;
        }
      }
    }
    
  }
}

@media screen and (max-width: 480px) {
  .shopping-section {
    .store{
      &-heading{
        margin-bottom:5vh;
      }
      &-info {
        margin-top: 3vh;
      }
    }
    .item {
      grid-template-columns: repeat(3, 1fr);
      grid-template-rows: 200px 200px;
      &-container {
        &:nth-child(7) {
          display: none;
        }
        &-title {
          font-size: 1rem;
          letter-spacing: 2px;
        }
      }
    }
    
  }
}