@import "../../config.scss";

// media queries tablets

@media screen and (max-width: 768px) {
  .store{
    &-heading{
      // display: flex;
      margin-bottom: 10vh;
      &-left{  width: 100vw; }
      &-right{ display:none; }
    }
    &-info{
        width: 70%;
      &-text{
          width: 80vw;
        }
      }
      &-title {
        &-accent-square {
          height: 5rem;
        }
      }
    }

    .item {
      grid-gap: 10px;
      grid-template-columns: repeat(4, 1fr);
      grid-template-rows: 200px 200px;

      &-container {
        &-title {
          font-size: 1.25rem;
        }

        &:nth-child(7) {
          display: none;
        }
      }
    }
  }



//media queries smartphones

@media screen and (max-width: 480px) {
  .shopping-section {
    .store {
      &-title {
        &-accent-square {
          height: 3.5rem;
        }
      }
    }
    .item {
      width: 95%;
      grid-gap: 10px;
      grid-template-columns: repeat(2, 175px);
      grid-template-rows: 125px 125px;

      &-container {
        &-title {
          font-size: 1.1rem;
        }

        &:nth-child(1) {
          display: none;
        }
        &:nth-child(6) {
          display: none;
        }

        &:nth-child(7) {
          display: none;
        }
      }
    }
  }
}
