@import "../../config.scss";

@media screen and (max-width: 1200px) {
    .contactus{
        &-form{
            .input {
                font-size: 16px;
            }
            .placeholder {
                font-size: 16px;
            }
        }
    }
}

@media screen and (max-width: 1024px) {
    .contactus{

        &-left{
            h2{
                font-size:2rem;
            }

            p{
                font-size: 1rem;
            }
        }
    
        &-form{
            .input {
                font-size: 15px;
            }
            
            .placeholder {
                font-size: 14px;
            }

            .btn {
                font-size: 0.8rem;
                min-width: 100px;
            }
            
            .input:focus~.placeholder, .input:valid~.placeholder {
                top: -40px;
            }
            
            .input:focus~.textarea, .input:valid~.textarea {
                top: -16px;
            }
        }
    }
}

@media screen and (max-width: 768px) {
    .contactus{
        background: none;
        height: auto;
        flex-direction: column-reverse;
        
        &::before{
            background-color: transparent;
        }
    
        &-left{
            z-index: 1;
            width: 100%;
            flex-direction: row;
            justify-content: space-evenly;
            margin-top: 2rem;
        }
        
        &-right{
            z-index: 1;
            width: 100%;
        }
    
        &-address{
            height: 23vh;
            width: 33vw;
            background-color: $secondary;
        }

        &-details{
            height: 23vh;
            width: 33vw;
            background-color: $accent;
        }
    
        &-form {
            height: fit-content;
            width: 100vw;
            box-shadow: none;

            &-heading{
                position: absolute;
                top: -1.5rem;
                left: 0vw;
                height: 6rem;
                width: 100vw;
    
                h1{
                    color: $primary;
                    text-align: center;
                    margin-left: 0rem;
                    line-height: 6rem;
                }
            }

            .form_field {
                padding: 8rem 25px 1rem 25px;
            }

        }
    }
}

@media screen and (max-width: 480px) {
    .contactus{
    
        &-left{
            flex-direction: column;
        }
    
        &-address{
            height: 20vh;
            width: 80vw;
            margin-bottom: 1rem;
        }

        &-details{
            height: 18vh;
            width: 80vw;
            background-color: $accent;
        }
    
        &-form {    
            &-heading {
                h1{
                    font-size: 2.5rem;
                }
            }
        }
    }
}