@import "../../config.scss";

.contactus{
    background: url("https://unsplash.com/photos/6bXvYyAYVrE/download?force=true&w=1920");
    height: 80vh;
    display: flex;
    
    &::before{
        content:"";
        // display: block;
        position: absolute;
        height: 80vh;
        width: 100vw;
        background-color: rgba(0, 0, 0, .5);
    }

    &-left{
        z-index: 1;
        width: 40%;
        // background-color: rgba($color: red, $alpha: 0.5);
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        
        h2{
            font-size:2.7rem;
            color: $primary;
            text-align: center;
            margin-top: 1rem;
        }
        p{
            margin-top: 0.5rem;
            padding: 0 0.3rem;
            text-align: center;
            color: $primary;
            font-size: 1.1rem;
            // width: 90%;
        }
    }
    &-right{
        z-index: 1;
        width:60%;
        // background-color: rgba($color: green, $alpha: 0.5);
    }

    &-address{
        height: 25vh;
        width: 25vw;
        background-color: $secondary;
    }
    &-details{
        height: 25vh;
        width: 25vw;
        background-color: $accent;
    }

    &-form{
        height: 80%;
        width: 50%;
        background-color: $primary;
        position: relative;
        margin: auto;
        top:10%;
        box-shadow: 0 10px 30px rgba(0, 0, 0, .3);


        &-heading{
            position: absolute;
            top: -2rem;
            left: 4rem;
            height: 7rem;
            width: 50vw;
            background-color: $accent;

            h1{
                color: $primary;
                margin-left:2rem;
                line-height: 7rem;
            }
        }

        .form_field {
            padding: 8rem 25px;
            // position: relative;
            display: flex;
            flex-wrap: wrap;
            align-items: center;
        }
        
        .input_group {
            position: relative;
            margin-bottom: 25px;
            padding: 0 15px;
        }
        .w_50 {
            width: 50%;
        }
        .w_100 {
            width: 100%;
        }
        
        .input {
            width: 100%;
            min-height: 30px;
            padding: 5px 0;
            border: none;
            font-size: 18px;
            color: #444;
            outline: 0;
            font-weight: 400;
            border-bottom: solid 2px #e9e9e9;
        }
        
        .input_textarea {
            min-width: 100%;
            min-height: 75px;
            max-height: 75px;
            max-width: 100%
        }
        
        .placeholder {
            position: absolute;
            left: 15px;
            top: 0;
            bottom: 0;
            display: flex;
            align-items: center;
            font-size: 18px;
            color: #bbb;
            font-weight: 400;
            transition: all .3s ease;
            pointer-events: none;
        }
        
        .textarea {
            align-items: baseline;
        }
        
        .btn {
            background: white;
            padding: 12px;
            border: 2px solid $accent;
            font-size: 1rem;
            border-radius: 0;
            color: $accent;
            min-width: 120px;
            outline: 0;
            transition: all .3s ease;
        }
        
        .btn:hover {
            background-color: $accent;
            color: $primary;
        }
        .btn:active {
            transform: scale(.90);
        }
        
        .input:hover {
            border-bottom-color: rgb(196, 196, 196);
        }
        .input:focus {
            border-bottom-color: rgb(156, 156, 156);
        }
        
        .input:focus~.placeholder, .input:valid~.placeholder {
            top: -50px;
            font-size: 12px!important;
            color: $accent;
        }
        
        .input:focus~.textarea, .input:valid~.textarea {
            top: -12px;
        }
    }
}

@import "./responsive"