@import "../../config.scss";

@media screen and (max-width: 1200px) {
    
}

@media screen and (max-width: 1024px) {
  .review-section {
    margin-bottom: 3rem;
    .review {

      &-heading {
        // display: flex;
        // margin-bottom: 0;
        &-left {
          width: 100%;
        }
        &-right {
          display: none;
        }
      }
      &-info {
        margin-top: 10vh;
        // margin-left: 15vw;
        &-container {
          &-text {
            width: 85%;
            font-size: 1.3rem;
          }
          &-quote {
            top: -20px;
            left: -38px;
          }
          &-name {
            // font-size: 1.3rem;
          }
          &-title {

          }
        }
      }
    }
  }
}
@media screen and (max-width: 768px) {
  .review-section {
    .review {
      &-heading {
        // display: flex;
        // margin-bottom: 15vh;
        // &-left {
        //   width: 100%;
        // }
        // &-right {
        //   display: none;
        // }
      }

      &-title {
        &-accent-square {
          height: 5rem;
        }
      }

      &-info {
        margin-top: 5vh;
        margin-left: 17vw;
        // margin: 2.5rem 0 0 2.5rem;

        &-container {
          &-quote {
            display: none;
          }

          &-text {
            width: 87%;
          }
        }
        &-btn {
          // display: flex;
          // position: absolute;
          // bottom: -70px;
          // left: -38px;

          // .prev {
          //   margin-right: 1.5rem;
          // }
        }
      }
    }
  }
}

@media screen and (max-width: 480px) {
  .review-section {
    .review {

      &-title {
        &-accent-square {
          height: 4rem;
        }
      }

      &-info {
        // position: relative;
        margin: 0 auto;
        margin-top: 1vh;
        width: 85%;

        &-container {
          // transition: all 0.6s ease-in-out;
          transform: translateX(-2.5%);

          

          &-text {
            width: 100%;
            font-size: 1.1rem;
            margin-bottom: 2rem;
            text-align: justify;
          }
        }
        &-btn {
          // display: flex;
          // position: absolute;
          bottom: -70px;
          left: 0;
        }
      }
    }
  }
}
