@import "../../config.scss";

@media screen and (max-width: 980px) {
  .review-section {
    .review {
      &-heading {
        // display: flex;
        margin-bottom: 15vh;
        &-left {
          width: 100%;
        }
        &-right {
          display: none;
        }
      }
    }
  }
}
@media screen and (max-width: 768px) {
  .review-section {
    .review {
      &-heading {
        // display: flex;
        // margin-bottom: 15vh;
        // &-left {
        //   width: 100%;
        // }
        // &-right {
        //   display: none;
        // }
      }

      &-title {
        &-accent-square {
          height: 5rem;
        }
      }

      &-info {
        margin: 2.5rem 0 0 2.5rem;

        &-container {
          &-text {
            width: 75%;
          }
        }
        &-btn {
          // display: flex;
          // position: absolute;
          // bottom: -70px;
          // left: -38px;

          // .prev {
          //   margin-right: 1.5rem;
          // }
        }
      }
    }
  }
}

@media screen and (max-width: 480px) {
  .review-section {
    .review {
      &-info {
        // position: relative;
        top: 0;
        left: 0;
        width: 90%;

        margin: 2rem auto;

        &-container {
          // transition: all 0.6s ease-in-out;
          transform: translateX(-2.5%);

          &-quote {
            display: none;
          }

          &-text {
            width: 100%;
            font-size: 1.1rem;
            margin-bottom: 2rem;
            text-align: justify;
          }
        }
        &-btn {
          // display: flex;
          // position: absolute;
          bottom: -70px;
          left: 0;
        }
      }
    }
  }
}
