@import "../../config.scss";

.review-section {
  width: 100%;
  margin: 3rem 0;
  margin-bottom: 6rem;
  .review {
    &-heading {
      display: flex;
      &-left {
        width: 65%;
        height: 90vh;
      }
      &-right {
        width: 35%;
        height: 82vh;
        // height: auto;
              
        overflow: hidden;
        position: relative;
      }
    }

    &-title {
      display: flex;
      align-items: center;
      &-accent-square {
        height: 6rem;
        width: 11.2vw;
        margin-right: 3.8vw;
        background-color: $accent;
      }
    }

    &-info {
      position: relative;
      height:55vh;
      top: 5vh;
      left: 15vw;
      margin: 3.5rem 0 0 2.5rem;

      &-grids{
        display: grid;
        // grid-template-columns: 1fr;
        // grid-template-rows: auto;
        grid-gap:2rem;
      }

      &-container {
        grid-row-start: 1;
        grid-column-start: 1;
        // grid-row-end: 2;
        // position: absolute;
        // top: 0;

        &-quote {
          top: -44px;
          left: -38px;
          position: absolute;
          z-index: -1;
        }

        &-text {
          margin-top: 1rem;
          width: 55%;
          font-size: 1.5rem;
          font-weight: 400;
          margin-bottom: 2.5rem;

          transform: translateY(10%);
          opacity: 0;
          visibility: hidden;
          transition: 0.4s all ease-in-out;
        }
        &-name {
          margin-left: 3rem;
          font-weight: 400;
          margin-bottom: 1rem;
          position: relative;

          transform: translateY(25%);
          opacity: 0;
          visibility: hidden;
          transition: 0.6s all ease-in-out;

          &:before {
            content: "";
            position: absolute;
            left: -45px;
            top: 11px;
            width: 30px;
            height: 1.5px;
            background: $secondary;
          }
        }
        &-title {
          margin-left: 3rem;
          // margin-bottom: 5rem;
          font-weight: 400;

          transform: translateY(25%);
          opacity: 0;
          visibility: hidden;
          transition: 0.6s all ease-in-out;
        }
      }
      // &-container.active {
      //   transform: translateY(0);
      // }
      .active{
        transform: translateY(0);
        opacity: 1;
        transition: 0.6s all ease-in-out;
        visibility: visible;
      }



      &-btn {
        grid-row-start: 2;
        grid-column-start: 1;
        display: flex;
        // position: relative;
        // top: 3vh;
        // display: none;
        .prev,
        .next {
          display: grid;
          place-items: center;
          font-size: 1.75rem;
          padding: 0.5rem;
          color: $primary;
        }
        .prev {
          background: $grey;
          margin-right: 1rem;
        }
        .next {
          background: $accent;
        }
        // &-active{
        //   display: block;
        // }
      }
      
    }
  }
  
}


.review{
  &-carousel-item {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 0;
    transition: .6s all linear;
  }

  &-carousel-item-image {
    transform: translateX(100%);
    transition: .6s all ease-in-out;
  }
  
  &-active-slide {
    z-index: 1;
    img  {
      transition: .6s all ease-in-out;
      transform: translateX(0);
    }
  }
}

@import "./media-queries.scss";
